body{
    margin:0;
    padding:0;
    font-family: Century Gothic;

}

/*Barra de tareas de arriba*/

.topnav{
    background-color: #333;
    overflow: hidden;
    height: 62px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 17px;
  }

/*Fondo*/

header{
    background-image: url(../20920.jpg); /* fallback */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(../20920.jpg);
    opacity:0.8;
    height: 718px;
    background-size: cover;
    background-position: center;
}

/*Boton principal*/

ul{
    float: right;
    list-style-type: none;
    padding: 10px;
    padding-left: 580px;
}

ul li{
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;

}

ul li.active a{
    background-color: #fff;
    color: #000;
}

/*Título de ONU*/

.title{
    position: absolute;
    top:8%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 32px;
    padding-top: 90px;
}

/*Subtitulo*/

.subtitle{
    position: absolute;
    top:22%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.subtitle h2{
    color: #fff;
    font-size: 18px;
    float:center;
    left:50%;
}

/*Párrafo de información*/

.about p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    float:center;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

ul li p{
    font-size: 10px;

}